
<h3> Air </h3>
 		Since it's a holiday weekend, we recommend booking flights ASAP.
		We recommend flying into:
 		> Los Angeles International Airport (LAX)
 			> ~30 minutes from hotels
 		> Burbank Airport (BUR), a.k.a. Bob Hope Airport
 			> ~40 minutes from hotels

		Other nearby  		
 		> Long Beach Airport (LGB)
 			> ~50 minutes from hotels
 		> John Wayne Airport (SNA)
 			> ~70 minutes from hotels
 		> Ontario Airport (ONT)
 			> ~75 minutes from hotels

<h3> Airport Rideshare </h3>
 		You can add your arrival info here, and check to see if folks with a similar itinerary want to share rides.

<h3> Car Rentals [???] </h3>
 		We recommend renting a car.

<h3> Ground </h3>
		[Directions to Riviera]
		[The Riviera will ahve complimentary valet parking]

<h3> Shuttle </h3>
		Shuttles will pick up from the hotels at 4:30pm (Angeleno) and 4:40pm (Luxe), respectively.
		Shuttles will drop off at the hotels starting at 11:00pm and ending at 12:00am.