<style>
	#announce {
		font-family: Tangerine;
		font-size: 36px;
	}

	#date {
		font-size: 18px;
	}

</style>
	<p class="text-center" id="date">
		09 &middot; 04 &middot; 2016<br>
		Riviera Country Club<br>
		Pacific Palisades, CA
	</p>

<%# <div id="and">
		
	<h5 class="text-center"><em> - and - </em></h5>
</div> %>

<img class="img-responsive center-block" src="http://ronnieanddaniela.com/wp-content/uploads/2012/01/Screen-shot-2012-01-06-at-10.56.46-AM.png">


<%#
<section class="jumbotron">
	<div class="container">
		<h2 class ="mission-statement">
			We are so excited
		</h2>
		<div class="visible-sm visible-xs"></div>
		<img class="jumbotron-image" src="/Dev/Wedding/wedding01/app/assets/images/test.JPG">
	</div>
</section>



<blockquote>
	<p> We really strongly recommend you book early! </p>
	<small> Us</small>
</blockquote>


Tables
<table class="table table-striped course-list">
	hello
</table>

Wells (like smaller jumbotrons)
>> Maybe one well for each hotel!
<div class="well" style="text-align: center">
	This well is for special info!
</div>

Dialogs

Responsive utilities
- you can clarify that when the screen is [size], make sure it's visible or hidden, e.g.:
	apply: class="visible.xs"
	class="hidden-sm"
	class="hidden-sm hidden-md"


<img src="..." class="img-responsive" alt="Responsive image">
%>