<h1>Audrey & Jesse</h1>
<h3>09.04.2016</h3>
<h5>We are so excited to celebrate with you on Labor Day Weekend 2016!</h5>

<img class="img-responsive" 
src="http://s20.postimg.org/6d1pykbwd/fantasy_football.png">

<%#
<section class="jumbotron">
	<div class="container">
		<h2 class ="mission-statement">
			We are so excited
		</h2>
		<div class="visible-sm visible-xs"></div>
		<img class="jumbotron-image" src="/Dev/Wedding/wedding01/app/assets/images/test.JPG">
	</div>
</section>



<blockquote>
	<p> We really strongly recommend you book early! </p>
	<small> Us</small>
</blockquote>


Tables
<table class="table table-striped course-list">
	hello
</table>

Wells (like smaller jumbotrons)
>> Maybe one well for each hotel!
<div class="well" style="text-align: center">
	This well is for special info!
</div>

Dialogs

Responsive utilities
- you can clarify that when the screen is [size], make sure it's visible or hidden, e.g.:
	apply: class="visible.xs"
	class="hidden-sm"
	class="hidden-sm hidden-md"


<img src="..." class="img-responsive" alt="Responsive image">
%>