<%# <dl class="dl-horizontal">
<dt> Welcome Dinner: Saturday @ 6:30pm </dt>
	<dd>
		<ul>
			<li> Location: TBD </li>
			<li> Attire: Casual</li>
		</ul>
	</dd>


<dt> Wedding Ceremony & Reception: Sunday @ 5:30pm </dt>
	<dd>
		<ul>
			<li> Location: Riviera Country Club </li>
			<li> Attire: California Formal</li>
		</ul>
	</dd>


<dt> Brunch: Monday @ 10:00am </dt>
	<dd>
		<ul>
			<li> Location: Luxe Sunset Hotel </li>
			<li> Attire: Airport-Ready </li>
		</ul>
	</dd>
</dl>
%>

<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<img class="img-responsive" src="http://s20.postimg.org/q7kn455j1/tortilla_republic.jpg">
		</div>
		<div class="col-xs-12 col-md-8">
			<h2>Saturday @ 6:30pm</h2>
			<h4>Welcome Dinner</h4>
					<li> Location TBD </li>
					<li> Attire: Casual </li>
					<li> Shuttles will pick up from the hotels at 5:45pm (Angeleno) and 6:00pm (Luxe), respectively </li>

		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-12 col-md-4">
			<img class="img-responsive" src="http://s20.postimg.org/dfxqpixx9/weddings0004.jpg">
		</div>
		<div class="col-xs-12 col-md-8">
			<h2>Sunday @ 5:30pm</h2>
			<h4>Wedding Ceremony & Reception</h4>
					<li> Riviera Country Club (1250 Capri Drive | Pacific Palisades, CA 90272)</li>
					<li> Attire: Formal </li>
					<li> Shuttles will pick up from the hotels at 4:30pm (Angeleno) and 4:45pm (Luxe), respectively </li>
					<li> Shuttles will drop off at the hotels starting at 11:00pm and ending at 12:00am </li>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-12 col-md-4">
			<img class="img-responsive" src="http://s20.postimg.org/557c3yczh/Luxe_Sunset_Boulevard_Hotel_photos_Restaurant_Ou.jpg">
		</div>
		<div class="col-xs-12 col-md-8">		
			<h2>Monday @ 10:00am</h2>
			<h4>Brunch</h4>
			Stay for the omelette bar or grab and go! <br><br>

					<li> Luxe Sunset Hotel (11461 Sunset Boulevard | Los Angeles, CA 90049) </li>
					<li> Attire: Airport-ready</li>
		</div>
	</div>
</div>