<h1>Schedules!</h1>

<h3> Welcome Dinner: Saturday, 6:30pm </h3>
		<li> Location: TBD </li>
		<li> Attire: Casual</li>

<h3> Wedding Ceremony & Reception: Sunday, 5:30pm </h3>
		<li> Location: Riviera Country Club </li>
				1250 Capri Drive
				Pacific Palisades, CA 90272
		<li> Attire: California formal </li>

<h3> Brunch: Monday, 10am </h3>
Stay for the omelette bar or grab and go! <br><br>

		<li> Location: Luxe Sunset Hotel </li>
		11461 Sunset Blvd.
		Los Angeles, CA 90049

		<li>Attire: Airport-ready</li>
