<%# <dl class="dl-horizontal">
<dt> Welcome Dinner: Saturday @ 6:30pm </dt>
	<dd>
		<ul>
			<li> Location: TBD </li>
			<li> Attire: Casual</li>
		</ul>
	</dd>


<dt> Wedding Ceremony & Reception: Sunday @ 5:30pm </dt>
	<dd>
		<ul>
			<li> Location: Riviera Country Club </li>
			<li> Attire: California Formal</li>
		</ul>
	</dd>


<dt> Brunch: Monday @ 10:00am </dt>
	<dd>
		<ul>
			<li> Location: Luxe Sunset Hotel </li>
			<li> Attire: Airport-Ready </li>
		</ul>
	</dd>
</dl>
%>

<style>

span {
	color: #1E90FF;
}

#white-bullet {
	color: white;
}

#address {
	list-style: none;
	padding-top: 0;
}

</style>

<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<img class="img-responsive" src="http://s20.postimg.org/dfxqpixx9/weddings0004.jpg">
		</div>
		<div class="col-xs-12 col-md-8">
			<h3>Sunday, September 4th @ 5:30pm</h3>
			<h4>Wedding Ceremony & Reception</h4>
					<li> Riviera Country Club</li>
					<a href = "https://www.google.com/maps/place/Riviera+Country+Club,+1250+Capri+Dr,+Pacific+Palisades,+CA+90272/@34.0453374,-118.5374777,13z/data=!4m2!3m1!1s0x80c2a3589363e83d:0x11738e458777ae41" target="_blank"> 
					<li id="white-bullet"><span>1250 Capri Drive</span> </li>
					<li id="white-bullet"><span>Pacific Palisades, CA 90272</span></li>
					</a>
					<li> Attire: Black tie </li>
					<li> Shuttles will pick up and drop off at both the Luxe Sunset Boulevard and Hotel Angeleno </li>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-12 col-md-4">
			<img class="img-responsive" src="http://s20.postimg.org/557c3yczh/Luxe_Sunset_Boulevard_Hotel_photos_Restaurant_Ou.jpg">
		</div>
		<div class="col-xs-12 col-md-8">		
			<h3>Monday, September 5th @ 10:00am</h3>
			<h4>Send-off Brunch</h4>

					<li> Luxe Sunset Boulevard Hotel </li>
					<a href = "https://www.google.com/maps/place/11461+Sunset+Blvd,+Los+Angeles,+CA+90049/@34.0725777,-118.4706542,17z/data=!4m7!1m4!3m3!1s0x80c2bcbf521c4f29:0xcf499772ca37333a!2s11461+Sunset+Blvd,+Los+Angeles,+CA+90049!3b1!3m1!1s0x80c2bcbf521c4f29:0xcf499772ca37333a" target="_blank"> 
					<li id="white-bullet"><span>11461 Sunset Blvd</span></li>
					<li id="white-bullet"><span>Los Angeles, CA 90049</span></li>
					</a>
					<li> Attire: Airport-ready </li>

		</div>
	</div>
</div>