<h3> Hotel Blocks </h3>
		We have reserved rooms at two hotels. The shuttle to the ceremony will pick up and drop both at both.

		<ul>
		<li> Luxe Sunset Boulevard </li>
			<ul>
				<li> Homebase, where Jesse, Audrey, and their families will be staying. This will also be the location for a light brunch on the morning after the wedding. </li>
				<li> [Amenities] </li>
				<li> To reserve with our block, click here and use the code KIMKAPLAN16. </li>
					<ul>
						<li> Superior Double: $229 + tax, per night </li>
						<li> Superior King: $239 + tax, per night </li>
						<li> Executive Suite: $279 + tax, per night </li>
						<li> Discounted Parking: $22 per vehicle, per night </li>
					</ul>
				<li> Note: Though our block covers Friday-Sunday nights, if you want to come early or stay later, the hotel will honor your group rate. </li>
				<li> For any questions about the room block, please do not hesitate to contact us! </li>
			</ul>

		<li> Hotel Angeleno </li>
			<ul>
				<li> Right across the street from the Luxe. </li>
				<li> Complimentary valet parking </li>
				<li> [Other amenities] </li>
				<li> To reserve one of these rooms, click here and use the code KIMKAPLAN16.
				<ul> 
					<li> Standard: $169 + tax, per night </li>
				</ul>
			</ul>
		</ul>

<h3> Private Home Rentals </h3>
Because they can be more comfortable and cost-effective than hotels, we love private rental sites like:
	<ul>
		<li> AirBnB </li>
		<li> VRBO </li>
		<li> HomeAway </li>
	</ul>
We strongly encourage you to <b>reserve ASAP</b> to grab the best and most convenient bookings.

<h3> Nearby Hotels </h3>
	<ul>
		<li> Starwood Preferred Guest </li>
			<ul>
				<li> Le Meridien Delfina Santa Monica </li>
				<li> W - West Beverly Hills </li>
			</ul>
		<li> Hilton HHonors </li>
			<ul>
				<li> DoubleTree Suites by Hilton Hotel Santa Monica (15 mins) </li>
				<li> Hotel MdR-A DoubleTree by Hilton Hotel (30 mins) </li>
			</ul>
		<li> Marriott Rewards </li>
			<ul>
				<li> JW Marriott Santa Monica Le Merigot (15 mins) </li>
				<li> The Ritz-Carlton, Marina del Rey (30 mins) </li>
			</ul>
		<li> Boutique Luxury </li>
			<ul>
				<li> Casa Del Mar (20 mins) </li>
				<li> Shutters on the Beach (20 mins) </li>
			</ul>
	</ul>