<style>
	#helpful-hint {
	  background: #2C89DA url("tick.png") 20px 50% no-repeat;
	  border-radius: 5px;
	  color: #fff;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size: 20px;
	  padding: 15px 15px 15px 15px;
	  text-align: center;
	}

	#collapse-btn {
		float: right;
	}

	#hotel-pic {
		float: right;
	}

	img.resize {
		max-height: 150px;
	}

	.panel-heading {
		cursor: pointer;
	}

</style>

<br>

<p id="helpful-hint">Because it's a holiday weekend, we recommend booking ASAP!</p>

<h3> Hotel Blocks </h3>
These two hotels are across the street from each other, and the wedding shuttle will stop at both locations.

<br><br>

<div class="container">

	<div class="col-xs-12 col-md-6 well" style="text-align: center">
		<strong> Luxe Sunset Blvd </strong>
			<p class="text-muted">11461 Sunset Blvd, Los Angeles, CA 90049</p>
		<div class="col-xs-12 col-md-7">
			<ul style="text-align: left">
				<li> Superior Double: 525 sqft ($229) </li>
				<li> Superior King: 525 sqft ($239) </li>
				<li> Executive Suite: 700 sqft ($279) </li>
			</ul>
			<a target="_blank" class="btn btn-success" type="button" href="https://gc.synxis.com/rez.aspx?Hotel=15224&Chain=6158&arrive=9/2/2016&depart=9/5/2016&adult=1&child=0&group=1609AUDREY">
			  Reserve
			 </a>
			<p class="text-muted">- or - 
			<br>
			Call Reservations: <a href="tel:+13104766571">310-476-6571</a></p>
		</div>
		<div class="col-xs-12 col-md-5" id="hotel-pic">
			<a href="https://gc.synxis.com/rez.aspx?Hotel=15224&Chain=6158&arrive=9/2/2016&depart=9/5/2016&adult=1&child=0&group=1609AUDREY" target="_blank">
				<img class="img-responsive resize center-block visible-sm visible-md visible-lg" src="http://s20.postimg.org/m8epd7j25/Luxe_Sunset.jpg">
			</a>
		</div>
	</div>

	<div class="col-xs-12 col-md-6 well" style="text-align: center">
		<strong> Hotel Angeleno </strong>
			<p class="text-muted">170 N Church Ln, Los Angeles, CA 90049</p>
		<div class="col-xs-12 col-sm-12 col-md-7">
			<ul style="text-align: left">
				<li> Deluxe Double: 225 sqft ($169) </li>
				<li> Deluxe King: 225 sqft ($169) </li>
				<br>
				<div class="visible-md"> <br> </div>
			</ul>
			<a target="_blank" class="btn btn-success" type="button" href="https://bookings.ihotelier.com/Hotel-Angeleno-Los-Angeles/bookings.jsp?groupID=1510997&hotelID=76958">
			  Reserve
			</a>
			<p class="text-muted">- or - 
			<br>
			Call Reservations: <a href="tel:+13104817840">310-481-7840</a></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-5 visible-sm visible-md visible-lg" id="hotel-pic">
			<a href="https://bookings.ihotelier.com/Hotel-Angeleno-Los-Angeles/bookings.jsp?groupID=1510997&hotelID=76958" target="_blank">
				<img class="img-responsive resize center-block" src="http://s20.postimg.org/idbbamzwd/21848_71_z.jpg">
			</a>
		</div>
	</div>
</div>

<hr>

<h3> Private Home Rentals </h3>
Because they can be more comfortable and cost-effective than hotels, we love private rental sites like:
	<ul>
		<li> <%= link_to 'AirBnB', 'https://www.airbnb.com/', :target => "_blank" %> </li>
		<li> <%= link_to 'VRBO', 'http://www.vrbo.com/', :target => "_blank" %> </li>
		<li> <%= link_to 'HomeAway', 'http://www.homeaway.com/', :target => "_blank" %> </li>
	</ul>
For the best bookings, we recommend <b>reserving ASAP</b>.

<hr>
<h3> Other Hotel Options </h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
  	<div class="panel-heading" role="tab" id="headingOne" data-target="#collapseOne" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title">
          Hilton HHonors
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
			<div class="col-md-6" style="text-align: center">
				<a href="http://doubletree3.hilton.com/en/hotels/california/doubletree-suites-by-hilton-hotel-santa-monica-SMOPCDT/index.html" target="_blank">
				DoubleTree Suites by Hilton Hotel Santa Monica<br>
				(15 mins from venue)<br>
					<img class ="img-thumbnail" src="http://s20.postimg.org/5c2y6mypp/423484_121_b.jpg">
				</a>
			</div>

			<div class="col-md-6" style="text-align: center">
				<a href="http://doubletree3.hilton.com/en/hotels/california/hotel-mdr-marina-del-rey-a-doubletree-by-hilton-LAXMADT/index.html" target="_blank">
				Hotel MdR: A DoubleTree by Hilton Hotel<br>
				(30 mins from venue)<br>
					<img class ="img-thumbnail" src="http://s20.postimg.org/z6jw8np6l/hotel_mdr_a_doubletree.jpg">
				</a>
			</div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
  	<div class="panel-heading" role="tab" id="headingTwo" data-target="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title">
          Starwood Preferred Guest
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
			<div class="col-md-6" style="text-align: center">
				<a href="http://www.starwoodhotels.com/lemeridien/property/overview/index.html?propertyID=1135&language=en_US" target="_blank">
				Le Meridien Delfina Santa Monica<br>
				(15 mins)<br>
					<img class ="img-thumbnail" src="http://s20.postimg.org/t5qspbry5/B73_E6_A7_F_FD47_5_A64_43_F9_F28_D49_A5_DCB0.jpg">
				</a>
			</div>

			<div class="col-md-6" style="text-align: center">
				W - West Beverly Hills / Westwood<br>
				(15 mins)<br>
				<a href="http://www.wlosangeles.com/west-beverly-hills-california" target="_blank">
					<img class ="img-thumbnail" src="http://s20.postimg.org/dyat4z03h/w_los_angeles_westwood.jpg">
				</a>
			</div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
  	<div class="panel-heading" role="tab" id="headingThree" data-target="#collapseThree" data-toggle="collapse" data-parent="#accordion">
  	  <h4 class="panel-title">
          Marriott Rewards
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
			<div class="col-md-6" style="text-align: center">
				<a href="http://www.marriott.com/hotels/travel/laxlm-jw-marriott-santa-monica-le-merigot/" target="_blank">
				JW Marriott Santa Monica: Le Merigot<br>
				(15 mins)<br>
					<img class ="img-thumbnail" src="http://s20.postimg.org/jb48wuddp/Mariott_GREAT_picture_6.jpg">
				</a>
			</div>
			<div class="col-md-6" style="text-align: center">
				<a href="http://www.ritzcarlton.com/en/Properties/MarinadelRey/Default.htm" target="_blank">
				The Ritz-Carlton, Marina Del Rey<br>
				(30 mins)<br>
					<img class ="img-thumbnail" src="http://s20.postimg.org/mw04g2hx9/ritzmdr.jpg">
				</a>
			</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
  	<div class="panel-heading" role="tab" id="headingFour" data-target="#collapseFour" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title">
          Boutique Luxury
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
			<div class="col-md-6" style="text-align: center">
				<a href="http://www.shuttersonthebeach.com/" target="_blank">
				Shutters on the Beach<br>
				(20 mins)<br>
					<img src="http://s20.postimg.org/j36ii0dvh/22125_51_z.jpg">
				</a>
			</div>
			<div class="col-md-6" style="text-align: center">
				<a href="http://www.hotelcasadelmar.com/" target="_blank">
				Casa Del Mar<br>
				(20 mins)<br>
					<img class="img-thumbnail" src="http://s20.postimg.org/uvnbdh7i5/Santa_Monica_Casa_Del_Mar_Lobby.jpg">
				</a>
			</div>
      </div>
    </div>
  </div>
</div>
















<%# <h3> Other Nearby Hotels </h3>

	<div class="row well">
		<h4> Hilton Honors
		<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#hilton" aria-expanded="false" aria-controls="hilton" id="collapse-btn">
			<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</button>
		</h4>

		<div class="row collapse" id="hilton">
			<div class="col-md-6" style="text-align: center">
				DoubleTree Suites by Hilton Hotel Santa Monica<br>
				(15 mins from venue)<br>
				<a href="http://doubletree3.hilton.com/en/hotels/california/doubletree-suites-by-hilton-hotel-santa-monica-SMOPCDT/index.html" target="_blank">
					<img class ="img-thumbnail" src="http://s20.postimg.org/5c2y6mypp/423484_121_b.jpg">
				</a>
			</div>

			<div class="col-md-6" style="text-align: center">
				Hotel MdR: A DoubleTree by Hilton Hotel<br>
				(30 mins from venue)<br>
				<a href="http://doubletree3.hilton.com/en/hotels/california/hotel-mdr-marina-del-rey-a-doubletree-by-hilton-LAXMADT/index.html" target="_blank">
					<img class ="img-thumbnail" src="http://s20.postimg.org/z6jw8np6l/hotel_mdr_a_doubletree.jpg">
				</a>
			</div>
		</div>
	</div>

	<div class="row well">
		<h4> Starwood Preferred Guest
		<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#starwood" aria-expanded="false" aria-controls="starwood" id="collapse-btn">
			<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</button>
		</h4>

		<div class="collapse" id="starwood">
			<div class="col-md-6" style="text-align: center">
				Le Meridien Delfina Santa Monica<br>
				(15 mins)<br>
				<a href="http://www.starwoodhotels.com/lemeridien/property/overview/index.html?propertyID=1135&language=en_US" target="_blank">
					<img class ="img-thumbnail" src="http://s20.postimg.org/t5qspbry5/B73_E6_A7_F_FD47_5_A64_43_F9_F28_D49_A5_DCB0.jpg">
				</a>
			</div>

			<div class="col-md-6" style="text-align: center">
				W - West Beverly Hills / Westwood<br>
				(15 mins)<br>
				<a href="http://www.wlosangeles.com/west-beverly-hills-california" target="_blank">
					<img class ="img-thumbnail" src="http://s20.postimg.org/dyat4z03h/w_los_angeles_westwood.jpg">
				</a>
			</div>
		</div>
	</div>

	<div class="row well">
		<h4> Marriott Rewards
		<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#marriott" aria-expanded="false" aria-controls="marriott" id="collapse-btn">
			<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</button>
		</h4>

		<div class="collapse" id="marriott">
			<div class="col-md-6" style="text-align: center">
				JW Marriott Santa Monica: Le Merigot<br>
				(15 mins)<br>
				<a href="http://www.marriott.com/hotels/travel/laxlm-jw-marriott-santa-monica-le-merigot/" target="_blank">
					<img class ="img-thumbnail" src="http://s20.postimg.org/jb48wuddp/Mariott_GREAT_picture_6.jpg">
				</a>
			</div>
			<div class="col-md-6" style="text-align: center">
				The Ritz-Carlton, Marina Del Rey<br>
				(30 mins)<br>
				<a href="http://www.ritzcarlton.com/en/Properties/MarinadelRey/Default.htm" target="_blank">
					<img class ="img-thumbnail" src="http://s20.postimg.org/mw04g2hx9/ritzmdr.jpg">
				</a>
			</div>
		</div>
	</div>



	<div class="row well">
		<h4> Boutique Luxury
		<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#boutique" aria-expanded="false" aria-controls="boutique" id="collapse-btn">
			<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</button>
		</h4>

		<div class="collapse" id="boutique">
			<div class="col-md-6" style="text-align: center">
				Shutters on the Beach<br>
				(20 mins)<br>
				<a href="http://www.shuttersonthebeach.com/" target="_blank">
					<img src="http://s20.postimg.org/sy7r6k6d9/Shutters_on_the_Beach_usn_3.jpg">
				</a>
			</div>
			<div class="col-md-6" style="text-align: center">
				Casa Del Mar<br>
				(20 mins)<br>
				<a href="http://www.hotelcasadelmar.com/" target="_blank">
					<img class="img-thumbnail" src="http://s20.postimg.org/uvnbdh7i5/Santa_Monica_Casa_Del_Mar_Lobby.jpg">
				</a>
			</div>
		</div>
	</div>



<%#		We have reserved rooms at two hotels. The shuttle to the ceremony will pick up and drop both at both.

		<ul>
		<li> Luxe Sunset Boulevard </li>
			<ul>
				<li> Homebase, where Jesse, Audrey, and their families will be staying. This will also be the location for a light brunch on the morning after the wedding. </li>
				<li> [Amenities] </li>
				<li> To reserve with our block, click here and use the code KIMKAPLAN16. </li>
					<ul>
						<li> Superior Double: $229 + tax, per night </li>
						<li> Superior King: $239 + tax, per night </li>
						<li> Executive Suite: $279 + tax, per night </li>
						<li> Discounted Parking: $22 per vehicle, per night </li>
					</ul>
				<li> Note: Though our block covers Friday-Sunday nights, if you want to come early or stay later, the hotel will honor your group rate. </li>
				<li> For any questions about the room block, please do not hesitate to contact us! </li>
			</ul>

		<li> Hotel Angeleno </li>
			<ul>
				<li> Right across the street from the Luxe. </li>
				<li> Complimentary valet parking </li>
				<li> [Other amenities] </li>
				<li> To reserve one of these rooms, click here and use the code KIMKAPLAN16.
				<ul> 
					<li> Standard: $169 + tax, per night </li>
				</ul>
			</ul>
		</ul>

%>



<%# commenting out the bulleted list

<h3> Nearby Hotels </h3>
	<ul>
		<li> Starwood Preferred Guest </li>
			<ul>
				<li> Le Meridien Delfina Santa Monica </li>
				<li> W - West Beverly Hills </li>
			</ul>
		<li> Hilton HHonors </li>
			<ul>
				<li> DoubleTree Suites by Hilton Hotel Santa Monica (15 mins) </li>
				<li> Hotel MdR-A DoubleTree by Hilton Hotel (30 mins) </li>
			</ul>
		<li> Marriott Rewards </li>
			<ul>
				<li> JW Marriott Santa Monica Le Merigot (15 mins) </li>
				<li> The Ritz-Carlton, Marina del Rey (30 mins) </li>
			</ul>
		<li> Boutique Luxury </li>
			<ul>
				<li> Casa Del Mar (20 mins) </li>
				<li> Shutters on the Beach (20 mins) </li>
			</ul>
	</ul> 

	%>