<h3> Museums </h3>
	<ul>
		<li> Getty Center </li>
		<li> Getty Villa </li>
		<li> The Broad </li>
		<li> Griffith Park Observatory </li>
	</ul>
<h3> Beach </h3>
	<ul>
		<li> Will Rogers / Temescal Canyon </li>
		<li> Malibu </li>
	</ul>
<h3> Hiking </h3>

<h3> Tennis </h3>

<h3> Golfing </h3>
	Golfing is available at the Riviera - please contact Audrey audrey.jieun@gmail.com, if interested.

<h3> Entertainment </h3>
	<ul>
		<li> Hollywood Bowl </li>
		<li> Disney Concert Hall </li>
		<li> Groundlings </li>
	</ul>
<h3> Food Spots </h3>
	<ul>
		<li> "Roscoe's" Chicken and Waffles </li>
		<li> Sushi Gen </li>
		<li> Sugarfish </li>
		<li> "Joan's" on 3rd </li>
		<li> Brentwood Country Mart </li>
		<li> Umami Burger </li>
		<li> Lucques </li>
		<li> AOC </li>
	</ul>